#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 3rem;
  padding: 0.5rem;
  border: 1px solid black;
  background-color: #ffffff;
}

.footer {
  height: 3rem;
  padding: 0.5rem;
  border: 1px solid black;
  background-color: #ffffff;
  display: flex;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.base-widget {
  min-width: 275px;
  max-width: 275px;
  height: auto;
  padding: 1rem;
  border: 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  overflow: hidden;
}

.raised-widget {
  filter: drop-shadow(0 2px 2px black);
}

.flat-widget {

}

.top-half, .bottom-half {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  padding: 0.75rem;
  text-align: center;
}

.warning {
  font-weight: bold;
}

.advice {
  font-size: 0.75rem;
}

.advisory-widget {
  padding: 0;
}

.briefings-widget {
  padding: 1rem;
  gap: 1rem;
}

.summary {
  text-align: center;
}

.status-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.stat {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem
}

.stat-icon {
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 100%;
  background-color: #f1f1f1;
  display: grid;
  place-items: center;
}

.stat-name {
  font-size: 0.75rem;
}

.stat-value {
  font-weight: bold;
}