.back-btn-widget {
    padding: 0;
    border-radius: 0;
    align-items: start;
}

.settings-btn {
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
}

.settings-btn.back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #606060;
}

.settings-btn.back:hover {
    color: #1AC6A2;
}

.settings-btn.logout {
    padding: 8px;
    width: 100%;
    border-radius: 10px;
    background-color: #1AC6A2;
    color: white;
}

.settings-widget {
    align-items: start;
    gap: 16px;
}

.settings-widget hr {
    width: 100%;
    align-self: stretch;
    border: none;
    border-top: 1px solid #aeaeae;
}

.settings-widget .widget-title {
    font-size: 1rem;
    font-weight: bold;
}

.settings-widget a {
    font-size: 1rem;
    color: #606060;
    text-decoration: none;
}

.settings-widget a:hover {
    color: #1AC6A2;
}

@media (max-width: 500px) {
    .settings-widget {
        gap: 12px;
    }
}

ul, ol {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0 0 0 1.5em;
    padding: 0;
    list-style-position: outside;
}
