@font-face {
  font-family: "PT Sans";
  src: url("/fonts/ptsans-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("/fonts/ptsans-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("/fonts/nunito-sans-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-font: "PT Sans", sans-serif;
  --header-footer-height: 3rem;
  --small-font: 0.75rem;
  --medium-font: 1.25rem;
  --large-font: 1.75rem;
  --grey-color: #7b7b7b;
  --dark-grey-color: #424242;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--main-font);
  line-height: 1;
}