.inittips-widget {
    gap: 32px;
}

.inittips-widget .heading {
    text-align: center;
}

.inittips-widget .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inittips-widget .container .subheading {
    font-size: 1rem;
    font-weight: bold;
}

.inittips-widget .container.do .subheading {
    color: #02ccb4;
}

.inittips-widget .container.dont .subheading {
    color: #cc0202;
}




/* @media (max-width: 500px) {
    .location-container .barangay {
        font-size: 0.75rem;
    }
    .location-container .locality {
        font-size: 0.5rem;
    }
} */

.regen-btn {
  margin-left: 8px;
  padding: 4px 8px;
  font-size: 14px;
  background-color: #f4f4f4;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.regen-btn:hover {
  background-color: #e5e5e5;
}

.regen-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
